@import 'antd/dist/antd.css';

* {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
  font-size: 20px;
  scroll-behavior: smooth;
  zoom: 1;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  background: unset !important;
}

.ant-pagination {
  .ant-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: #000;
  }
}

.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #1a1a1a;
  box-shadow: 9984px 0 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  }
  50% {
    box-shadow: 9984px 0 0 0 #1a1a1a, 9999px -10px 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px -10px 0 0 #1a1a1a;
  }
  100% {
    box-shadow: 9984px 0 0 0 #1a1a1a, 9999px 0 0 0 #1a1a1a, 10014px 0 0 0 #1a1a1a;
  }
}

/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-horizontal-scrolling-menu--wrapper {
  @media screen and (max-width: 768px) {
    display: flex;
    width: 380px;
    position: relative;
    margin-left: 10px;
    button {
      display: none;
    }
  }
}