.home_main {
    $self: &;

    .border_Down {
        border-bottom: 1px solid black;
    }

    .div_hover_class {
        $self: &;
        height: 240px;
        width: 350px;
        z-index: 1;
        // background: rgba(0, 0, 0, 0.4);

        h3 {
            visibility: hidden;
        }

        &:hover {
            cursor: pointer;
            text-align: center;
            z-index: 3;
            // transform: translateY(0%);
            color: #fff;
            // top: 45%;
            background: rgba(0, 0, 0, 0.4);
            // opacity: 1;
            // visibility: hidden;
            //margin-bottom: 50px;
            // transition: 1s all linear;

            h3 {
                visibility: visible;
                color: #fff;
            }

        }

        &--Projects {
            &:hover {
                transform: translateY(0%);
                top: 45%;
                left: 50%;
                margin-left: 50px;
            }
        }

        &--Blogs {
            &:hover {

                transform: translateY(0%);
                top: 45%;
            }
        }

        &--Contact {
            &:hover {
                transform: translateY(0%);
                top: 45%;
            }
        }
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.skills_main {
    scroll-behavior: smooth;

    ul {
        margin: 0;

        li {
            margin-bottom: 10px;
            position: relative;
            padding-left: 30px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.7rem;
                width: 10px;
                height: 3px;
                background: #000;
            }
        }
    }
}

.slider_main {
    $self: &;

    .carousel {
        overflow: hidden;
        //padding: 50px 50px 50px 50px;
        max-width: 90%;
        margin: 50px;
        transition: ease-in;
    }

    .inner {
        white-space: nowrap;
        transition: transform 1s;
    }

    .carousel_item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background-color: #eceff2;
        color: black;
    }

    .indicators {
        display: flex;
        justify-content: center;
        background-color: #eceff2;
        padding: 10px;
        padding-bottom: 25px;

        button {
            background-color: rgba(13, 30, 45, 0.3);
            border: none;
            outline: none;
            padding: 10px;
            margin: 0 5px;
            cursor: pointer;
            border-radius: 50%;
            transition: 0.3s;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    // .indicators>button {
    //     margin: 5px;
    // }

    .indicators>button.active {
        background-color: rgba(13, 30, 45, 0.6);
        color: #fff;
    }

    &__text {
        font-size: 1rem;
    }
}